<div class="ui-panel center-box tool-box">
   <div class="block">
      <span lw>name</span>
   </div>

   <div class="param-box block">
      <input type="text" lw-model="input" class="ui-input ip lg" lw-class:error="inputClass==='is-danger'"
         lw-on:input="run()" lw-on:focus="onFocus()">

      <select class="ui-select" lw-model="from" lw-on:change="run()" lw-if="from" title="From">
         <option lw-for="item in range(0)" lw-bind:value="item" lw>'/'+item</option>
      </select>

      <select class="ui-select" lw-model="to" lw-on:change="run()" lw-if="to" title="To">
         <option lw-for="item in range(from*1 + 1)" lw-bind:value="item" lw>'/'+item</option>
      </select>

      <input type="number" class="ui-input limit" lw-model="limit" lw-on:input="run()" lw-if="limit" title="Limit"
         min="1">

      <select class="ui-select" lw-model="form" lw-on:change="run()" lw-if="form" title="Output Form">
         <option lw-for="item in forms" lw-bind:value="item.value" lw>item.label</option>
      </select>

      <select class="ui-select" lw-model="format" lw-on:change="run()" lw-if="showformat" title="Output Format">
         <option lw-for="item in ['Text', 'JSON']" lw-bind:value="item" lw>item</option>
      </select>

      <button class="ui-btn" lw-on:click="run()" lw lw-if="runbuttontext">runbuttontext</button>
   </div>

   <div class="result-box">
      <a lw-on:click="copyResult()" class="copy-button">
         Copy
      </a>
      <pre><code lw>
      result
   </code></pre>
   </div>
</div>