:host {
  background-color: #333;
  height: 50px;
  gap: 0 20px;
  align-items: center;

  display: grid;
  grid-template-columns: 1fr repeat(8, minmax(auto, 80px)) 1fr;

  div.left {
    grid-column: 2/6;
    grid-row: 1;
    height: 40px;
    align-items: center;
    display: flex;
    span.brand {
      margin-left: 10px;
      color: white;
      font-weight: 400;
      font-size: 22px;
    }
    span.version {
      margin-left: 10px;
      color: tomato;
      font-size: 12px;
      top: -2px;
      position: relative;
    }
  }

  div.right {
    display: flex;
    justify-content: flex-end;
    grid-column: 9;
    grid-row: 1;

    svg.npm {
      fill: lightgray;
      width: 32px;
      margin-left: 20px;
    }

    svg.github {
      fill: lightgray;
      width: 32px;
      margin-left: 20px;
    }
  }
}
