:host {
  background-color: #333;
  height: 50px;
  gap: 0 20px;
  align-items: center;

  display: grid;
  grid-template-columns: 1fr repeat(8, minmax(auto, 80px)) 1fr;
}

.left {
  grid-column: 2/6;
  grid-row: 1;
  height: 40px;
  align-items: center;
  display: flex;

  .powered {
    margin-left: 10px;
    color: lightgray;
    font-size: 12px;

    a {
      color: tomato;
    }
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  grid-column: 6/10;
  grid-row: 1;
  color: lightgray;
  font-size: 12px;
}